html, body {
    margin: 0;
    padding: 0;
    font-family: "Exo 2", "sans-serif";
    background-image: url("img/table.png");
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    letter-spacing: 1px;
}

button {
    background-color: red;    
    cursor: pointer;
    color: white;
    text-shadow: 1px 1px 3px black;
    text-transform: uppercase;
    border-radius: 5px;
}

#new-deck {
    align-self: flex-start;
    padding: 10px;
    font-size: 1rem;
    border-right: solid 3px white;
    border-bottom: solid 3px white;
}

#draw-cards {
    font-size: 1rem;
    align-self: stretch;
    padding: 10px;
    border-top: solid 3px white;
}

.card-slot1, .card-slot2 {
    border: 1px solid black;
    border-radius: 5px;
    height: 120px;
    width: calc(120px * 5 / 7);
}

.card-slot1 {
    margin-bottom: 20px;
    margin-top: -20px;
}

.card {
    height: 100%;
    width: 100%;
}

#header {
    margin-top: -20px;
    padding-bottom: 20px;
    margin-bottom: -15px;
    text-shadow: 1px 1px 3px black;
    border-bottom: solid 3px black;
}

.top {
    display: flex;
    align-self: flex-start;
    margin-bottom: 35px;
}

.top > p {
    margin: 0;
    margin-left: 10px;
}

button:disabled {
    cursor: not-allowed;
}

#computer-score {
    margin-bottom: 0;
    padding-bottom: 30px;
}

#description {
    margin-top: -20px;
    padding-bottom: 15px;
    font-family: "Exo 2", "sans-serif";
    text-shadow: 1px 1px 3px black;
    margin-left: 15px;
    font-size: 1.1rem;
}